<div class="ui pointing secondary demo menu">
  <a class="active red item" data-tab="first">Song Count</a>
  <a class="red item" data-tab="second">Count by Artists</a>
  <a class="red item" data-tab="third">Time of Day</a>
</div>

<canvas class="ui active tab" data-tab="first" id="linechart" width="630" height="300"></canvas>
<div class="ui tab" data-tab="second">
  <canvas id="doughnut" width="630" height="300"></canvas>
  <div class="tooltip caption"></div>
</div>
<canvas class="ui tab" data-tab="third" id="donutchart" width="630" height="300"></canvas>

<!-- TODO: Improve this. -->
<div id="footer">
  <p>
    <% if @last_song.has_key?("date") %>
      Last played:
    <% else %>
      Now playing:
    <% end %>
    <a href="<%= @last_song["url"] %>"><%= @last_song["name"] %></a>
    by <%= @last_song["artist"]["content"] %>
</p>
</div>

<script>
  var song_count = { 'music': <%= @song_count %> };
  var artist_count = <%= @artist_count %>;
</script>
<script src="/js/chart.js"></script>
<script src='/js/music.js'></script>
